@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    color: #fff;
}

.container {
    padding: 2em;
}

.logo img {
    width: 40%;
}

.main__image {
    width: 100%;
    margin-bottom: 2em;
}

.main__text {
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.main__text--title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.main__text--description {
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.main__text--button {
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: 400;
    padding: 0.5em 2.5em;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}

.main__text--button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--primary-blue);
    font-size: 1em;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
}

.social-links a:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

@media  screen and (min-width: 1100px) {

    .container {
        padding: 3em 6em;
    }

    body {
        background-image: url(./images/bg-desktop.svg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .logo img {
        max-width: 200px;
    }

    main .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4em;
    }

    .main__image {
        width: 50%;
        max-width: 750px;
    }

    .main__text {
        width: 50%;
        max-width: 450px;
        align-items: baseline;
        justify-content: left;
        text-align: left;
        gap: 1.5em;
    }

    .main__text--title {
        font-size: 2em;
        margin-bottom: 0;
    }
    
    .main__text--description {
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .social-links {
        justify-content: flex-end;
    }
}